body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 4px;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
    transition: color 0.2s;
}

nav {
    margin: 15px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
}

nav ul li a:hover {
    color: #ffd700;
}

.img-no2 {
    max-width: 90px;
    height: auto;
    float: left;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.introduction {
    text-align: center;
    padding: 30px 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 900px;
    line-height: 1.6;
    color: #333;
    font-size: 15px;
}

.main-content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.programs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 30px 0;
}

.program-card {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.program-card h3 {
    color: #333;
    margin-bottom: 10px;
}

.news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 30px 0;
}

article {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.read-more:hover {
    text-decoration: underline;
}

.events {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 30px 0;
}

.event {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event h3 {
    color: #333;
    margin-bottom: 10px;
}

.main-content h2 {
    color: #333;
    margin: 30px 0 15px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #007bff;
}

.programs {
    margin-top: 20px;
    display: inline-flex;
}

.program-card {
    background-color: #f5f5f5;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-right: 20px;
    text-align: justify;
}

.program-card h3 {
    color: #333;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 0.2px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: -1px;
    text-align: start;

}

.program-card p {
    color: #666;
    margin-bottom: 15px;
    line-height: 1.2;
    font-size: 1rem;
    font-weight: 400;
    text-align: start;
}

.program-card a {
    color: #007bff;
    text-decoration: none;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    transition: color 0.3s ease;
}

.program-card :hover {
    color: #262626;
}

.program-card i {
    font-size: 0.8rem;
    transition: transform 0.3s ease;
}

.program-card a:hover i {
    transform: translateX(5px);
}

.news {
    margin-top: 20px;
    display: flexbox;
}

.news-card {
    background-color: #f5f5f5;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-right: 20px;
    max-width: auto;
    max-height: auto;
    overflow: hidden;
    transition: transform 0.3s ease;
    min-width: auto;
    gap: -1px;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
}

.news-card h3 {
    color: #333;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 0.2px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: -1px;
    text-align: start;
}

.news-card p {
    color: #666;
    margin-bottom: 15px;
    line-height: 1.2;
    font-size: 1rem;
    font-weight: 400;
    text-align: start;
}

.news-card a {
    color: #007bff;
    text-decoration: none;
    font-weight: 600;
    display: inline-flex
}

.news-card a:hover {
    color: #262626;
}

.news-card i {
    font-size: 0.8rem;
    transition: transform 0.3s ease;
}

.news-card a:hover i {
    transform: translateX(5px);
}


.latest-news {
    padding: 4rem 2rem;
    background: #f8f9fa;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.news-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.news-card:hover {
    transform: translateY(-5px);
}

.news-image {
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    height: 220px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
}

.news-image img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.news-card:hover .news-image img {
    transform: scale(1.05);
}

.news-date {
    position: absolute;
    top: 15px;
    right: 15px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.news-date span {
    display: block;
    font-weight: bold;
}

.news-date span:first-child {
    font-size: 1.2rem;
    color: #2c3e50;
}

.news-content {
    padding: 1.5rem;
}

.news-content h3 {
    color: #2c3e50;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.news-content p {
    color: #666;
    margin-bottom: 1.5rem;
    line-height: 1.6;
}

.read-more {
    color: #3498db;
    text-decoration: none;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    transition: color 0.3s ease;
}


.read-more:hover {
    color: #2980b9;
}

.read-more i {
    font-size: 0.8rem;
    transition: transform 0.3s ease;
}

.read-more:hover i {
    transform: translateX(5px);
}

.b1 {
    align-items: end;
    display: inline;
}

.animated-button {
    position: relative;
    display: flex;
    align-items: end;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #3498db;
    box-shadow: 0 0 0 2px #3498db;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.ba1 a {
    text-decoration: none;
}

.animated-button svg {
    position: absolute;
    width: 24px;
    fill: #3498db;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
    right: 16px;
}

.animated-button .arr-2 {
    left: -25%;
}

.animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #3498db;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
}

.animated-button:hover .arr-1 {
    right: -25%;
}

.animated-button:hover .arr-2 {
    left: 16px;
}

.animated-button:hover .text {
    transform: translateX(12px);
}

.animated-button:hover svg {
    fill: #212121;
}

.animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px #3498db;
}

.animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}

.loader {
    --ANIMATION-DELAY-MULTIPLIER: 70ms;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.loader span {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    padding: 0 2px;
    margin: 0;
    letter-spacing: normal;
    transform: translateY(4rem);
    animation: hideAndSeek 1.2s alternate infinite cubic-bezier(0.86, 0, 0.07, 1);
}

.loader .l {
    animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 0);
}

.loader .o {
    animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 1);
}

.loader .a {
    animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 2);
}

.loader .d {
    animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 3);
}

.loader .ispan {
    animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 4);
}

.loader .n {
    animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 5);
}

.loader .g {
    animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 6);
}

.letter {
    width: auto;
    height: 3rem;
    display: flex;
    align-items: center;
}

.i {
    margin: 0 3px;
}

@keyframes hideAndSeek {
    0% {
        transform: translateY(4rem);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: all 0.3s ease;
}

footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    color: #6c757d;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
}

footer p {
    margin: 0;
}

footer a {
    color: #6c757d;
    text-decoration: none;
}

footer a:hover {
    color: #343a40;
}

.footer-links {
    margin-top: 10px;

    oater-links a {
        display: inline-block;
        margin-right: 10px;
        color:
            #6c757d;
        text-decoration: none;
        transition: color 0.3s ease;

    }